.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
  a {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #007bff;
    }
  }
}
